* {
    margin: 0;
    padding: 0;
    border: 0;
}
html,
body {
    font-family: 'Segoe UI Light', 'Segoe UI Web Light', 'Segoe UI Web Regular', 'Segoe UI', 'Segoe UI Symbol', HelveticaNeue-Light, 'Helvetica Neue', Arial, sans-serif;
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
}
.test {
    background-image: url(../images/layout-grid.jpg);
    background-repeat: repeat;
    position: absolute;
}
#metro {
    padding: 7em 6em;
    white-space: nowrap;
}
#metro > header {
    position: absolute;
    height: 7em;
    top: 0;
}
#metro > header h1 {
    margin: 0.7em -0.07em;
    font-size: 2.8em;
    font-weight: 500;
}
/*#metro > section {}*/

#metro > section ul,
#metro > section li {
    list-style: none;
}
/**
 * Columnas
 */

/*#metro > section ul {}
#metro > section li {} */

#metro > section ul {} #metro > section > ul > li {
    display: inline-block;
    /*IE*/
    *zoom: 1;
    white-space: normal;
    vertical-align: top;
    margin: 0;
    padding: 0;
}
/**
 * Filas
 */

/*#metro > section > ul > li > ul {}*/

#metro > section li li {
    margin: 0 0.5em 0.5em 0;
    padding: 0;
    width: initial;
}
/**
 * Celdas
 */

#metro .tile {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background: lightgrey;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-top: 0;
}
#metro .width4 {
    min-width: calc(4em - 0.5em);
    max-width: calc(4em - 0.5em);
    width: calc(4em - 0.5em);
}
#metro .width8 {
    min-width: calc(8em - 0.5em);
    max-width: calc(8em - 0.5em);
    width: calc(8em - 0.5em);
}
#metro .width16 {
    min-width: calc(16em - 0.5em);
    max-width: calc(16em - 0.5em);
    width: calc(16em - 0.5em);
}
#metro .height4 {
    min-height: calc(4em - 0.5em);
    max-height: calc(4em - 0.5em);
    height: calc(4em - 0.5em);
}
#metro .height6 {
    min-height: calc(6em - 0.5em);
    max-height: calc(6em - 0.5em);
    height: calc(6em - 0.5em);
}
#metro .height8 {
    min-height: calc(8em - 0.5em);
    max-height: calc(8em - 0.5em);
    height: calc(8em - 0.5em);
}
#metro .height11 {
    min-height: calc(11em - 0.5em);
    max-height: calc(11em - 0.5em);
    height: calc(11em - 0.5em);
}
#metro .height16 {
    min-height: calc(16em - 0.5em);
    max-height: calc(16em - 0.5em);
    height: calc(16em - 0.5em);
}