/**
 * Fonts
 */

html,
body {
    font-family: 'Segoe UI Light', 'Segoe UI Web Light', 'Segoe UI Web Regular', 'Segoe UI', 'Segoe UI Symbol', HelveticaNeue-Light, 'Helvetica Neue', Arial, sans-serif;
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
    position: absolute;
}
/**
 * Positioning & Sizing
 */

* {
    margin: 0;
    padding: 0;
    border: 0;
}
#desktop {
    position: relative;
    overflow: hidden;
}
.page {
    position: absolute;
    display: block;
    left: -100%;
    top: -100%;
}
.page {
    height: 100%;
    width: 100%;
}
.metro {
    padding: 7em 6em;
}
.metro > header {
    margin-top: calc(0em - 7em);
    height: calc(7em - 2em);
    padding-top: calc(2em);
}
.metro > header h1 {
    /*margin: 0.7em -0.07em;*/
    margin: -0.01em -0.09em;
    font-size: 2.8em;
    font-weight: 500;
}
.metro > section ul,
.metro > section li {
    list-style: none;
}
.metro > section {
    display: table;
}
.metro > section ul {
    display: table-cell;
    vertical-align: top;
    border-collapse: collapse;
    padding-right: 0.5em;
}
.metro > section li {
    display: table;
    float: left;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
}
.metro .width4 {
    min-width: calc(4em - 0.5em);
    max-width: calc(4em - 0.5em);
    width: calc(4em - 0.5em);
}
.metro .width8 {
    min-width: calc(8em - 0.5em);
    max-width: calc(8em - 0.5em);
    width: calc(8em - 0.5em);
}
.metro .width9 {
    min-width: calc(9em - 0.5em);
    max-width: calc(9em - 0.5em);
    width: calc(9em - 0.5em);
}
.metro .width16 {
    min-width: calc(16em - 0.5em);
    max-width: calc(16em - 0.5em);
    width: calc(16em - 0.5em);
}
.metro .width27 {
    min-width: calc(27em - 0.5em);
    max-width: calc(27em - 0.5em);
    width: calc(27em - 0.5em);
}
.metro .height4 {
    min-height: calc(4em - 0.5em);
    max-height: calc(4em - 0.5em);
    height: calc(4em - 0.5em);
}
.metro .height6 {
    min-height: calc(6em - 0.5em);
    max-height: calc(6em - 0.5em);
    height: calc(6em - 0.5em);
}
.metro .height8 {
    min-height: calc(8em - 0.5em);
    max-height: calc(8em - 0.5em);
    height: calc(8em - 0.5em);
}
.metro .height9 {
    min-height: calc(9em - 0.5em);
    max-height: calc(9em - 0.5em);
    height: calc(9em - 0.5em);
}
.metro .height11 {
    min-height: calc(11em - 0.5em);
    max-height: calc(11em - 0.5em);
    height: calc(11em - 0.5em);
}
.metro .height16 {
    min-height: calc(16em - 0.5em);
    max-height: calc(16em - 0.5em);
    height: calc(16em - 0.5em);
}
.metro ul.width8 li.width4 + li.width4,
.metro ul.width8 li.width4 + li.width4 + li.width4 + li.width4 {
    margin-right: 0;
}
.metro ul.width8 li.width4 + li.width4 + li.width4,
.metro ul.width8 li.width4 + li.width4 + li.width4 + li.width4 + li.width4 {
    margin-right: 0.5em;
}
.metro ul.width16 li.width4 + li.width4 + li.width4 + li.width4,
.metro ul.width16 li.width4 + li.width4 + li.width4 + li.width4 + li.width4 + li.width4 + li.width4 + li.width4,
.metro ul.width16 li.width4 + li.width4 + li.width4 + li.width4 + li.width4 + li.width4 + li.width4 + li.width4 + li.width4 + li.width4 + li.width4 + li.width4 {
    margin-right: 0;
}
.metro ul.width16 li.width4 + li.width4 + li.width4 + li.width4 + li.width4,
.metro ul.width16 li.width4 + li.width4 + li.width4 + li.width4 + li.width4 + li.width4 + li.width4 + li.width4 + li.width4,
.metro ul.width16 li.width4 + li.width4 + li.width4 + li.width4 + li.width4 + li.width4 + li.width4 + li.width4 + li.width4 + li.width4 + li.width4 + li.width4 + li.width4 {
    margin-right: 0.5em;
}
.metro ul.width16 li.width8 + li.width8,
.metro ul.width16 li.width8 + li.width8 + li.width8 + li.width8 {
    margin-right: 0;
}
.metro ul.width16 li.width8 + li.width8 + li.width8,
.metro ul.width16 li.width8 + li.width8 + li.width8 + li.width8 + li.width8 {
    margin-right: 0.5em;
}
.metro ul.width27 li.width9 + li.width9 + li.width9,
.metro ul.width27 li.width9 + li.width9 + li.width9 + li.width9 + li.width9 + li.width9 {
    margin-right: 0;
}
.metro ul.width27 li.width9 + li.width9 + li.width9 + li.width9,
.metro ul.width27 li.width9 + li.width9 + li.width9 + li.width9 + li.width9 + li.width9 + li.width9 {
    margin-right: 0.5em;
}
.metro .tile {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background: lightgrey;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-top: 0;
}
/**
 * Transitions
 */

.page.slide-from-left {
    top: 0;
    -webkit-animation: slide-from-left .8s ease-out 1 normal forwards;
    animation: slide-from-left .8s ease-out 1 normal forwards;
}
.page.slide-to-left {
    top: 0;
    -webkit-animation: slide-to-left .8s ease-out 1 normal forwards;
    animation: slide-to-left .8s ease-out 1 normal forwards;
}
.page.slide-from-top {
    left: 0;
    -webkit-animation: slide-from-top .8s ease-out 1 normal forwards;
    animation: slide-from-top .8s ease-out 1 normal forwards;
}
.page.slide-to-top {
    left: 0;
    -webkit-animation: slide-to-top .8s ease-out 1 normal forwards;
    animation: slide-to-top .8s ease-out 1 normal forwards;
}
@-webkit-keyframes slide-from-left {
    0% {
        left: -100%;
    }
    100% {
        left: 0;
    }
}
@keyframes slide-from-left {
    0% {
        left: -100%;
    }
    100% {
        left: 0;
    }
}
@-webkit-keyframes slide-to-left {
    0% {
        left: 0;
    }
    100% {
        left: -100%;
    }
}
@keyframes slide-to-left {
    0% {
        left: 0;
    }
    100% {
        left: -100%;
    }
}
@-webkit-keyframes slide-from-top {
    0% {
        top: -100%;
    }
    100% {
        top: 0;
    }
}
@keyframes slide-from-top {
    0% {
        top: -100%;
    }
    100% {
        top: 0;
    }
}
@-webkit-keyframes slide-to-top {
    0% {
        top: 0;
    }
    100% {
        top: -100%;
    }
}
@keyframes slide-to-top {
    0% {
        top: 0;
    }
    100% {
        top: -100%;
    }
}
/**
 * Colors
 */

#desktop {
    /*
    #252525 / #f4b300
    #252525 / #78ba00
    #252525 / #2773ed
    #252525 / #ae113e
    #311600 / #632f00
    #550004 / #b11d01
    #4f023a / #c1004f
    #2e0251 / #7200ad
    #1d0065 / #4617b5
    #00214f / #006ac0
    #00485e / #008387
    #004900 / #189900
    #17992c / #00c140
    #e66b1b / #ff991d
    #b91d1e / #ff2e13
    #b31a6a / #ff1d77
    #681cb4 / #aa3fff
    #1957ba / #20aeff
    #599be5 / #57c5ff
    #00a8a8 / #00d8cd
    #82ba1b / #91d100
    #d39d09 / #e1b700
    #e165bb / #ff76bc
    #686868 / #00a4a5
    #686868 / #ff7d23
    */
    background-color: #686868;
    color: #ff7d23;
}
.page {
    background-image: url(../images/layout-grid.jpg);
    background-repeat: repeat;
}